* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow-y: hidden;
}
h1,
h2,
li {
  text-align: center;
  margin-top: 8px;
}

select {
  width: 200px;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  margin-bottom: 20px;
}
label {
  margin: 10px 40px 5px 0;
}
